In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
import torch

In [6]:
import pandas as pd

In [7]:
from openpyxl.utils import coordinate_to_tuple

In [9]:
from train_test_composer import get_train_data

In [11]:
train_df = get_train_data()

train_df["row"] = train_df["coordinate"].apply(lambda x: coordinate_to_tuple(x)[0])
train_df["col"] = train_df["coordinate"].apply(lambda x: coordinate_to_tuple(x)[1])
train_df = train_df.drop(columns=["coordinate"])

to_inverse = [column for column in train_df.columns if str(column).startswith("is_empty")]
for to_inv_col in to_inverse:
    train_df[to_inv_col] = 1 - train_df[to_inv_col]
train_df

       is_empty  is_string  is_merged  is_bold  is_italic  ...  is_header                     file_path  sheet_name  row  col
0             0          0          0        0          0  ...          0  .\train\Table detection.xlsx      Sheet1    1    1
1             0          0          0        0          0  ...          0  .\train\Table detection.xlsx      Sheet1    1    2
2             0          0          0        0          0  ...          0  .\train\Table detection.xlsx      Sheet1    1    3
3             0          0          0        0          0  ...          0  .\train\Table detection.xlsx      Sheet1    1    4
4             0          0          0        0          0  ...          0  .\train\Table detection.xlsx      Sheet1    1    5
...         ...        ...        ...      ...        ...  ...        ...                           ...         ...  ...  ...
11782         0          0          0        0          0  ...          0  .\train\Table detection.xlsx      Sheet7  102   21
11783         0          0          0        0          0  ...          0  .\train\Table detection.xlsx      Sheet7  102   22
11784         0          0          0        0          0  ...          0  .\train\Table detection.xlsx      Sheet7  102   23
11785         0          0          0        0          0  ...          0  .\train\Table detection.xlsx      Sheet7  102   24
11786         0          0          0        0          0  ...          0  .\train\Table detection.xlsx      Sheet7  102   25

[11787 rows x 22 columns]

In [15]:
table_pics = list({k: v.drop(columns=["file_path", "sheet_name"]) 
                   for k, v in train_df.groupby(["file_path", "sheet_name"])}.values())
table_pics

[      is_empty  is_string  is_merged  is_bold  is_italic  ...  indent  formula  is_header  row  col
 0            0          0          0        0          0  ...       0        0          0    1    1
 1            0          0          0        0          0  ...       0        0          0    1    2
 2            0          0          0        0          0  ...       0        0          0    1    3
 3            0          0          0        0          0  ...       0        0          0    1    4
 4            0          0          0        0          0  ...       0        0          0    1    5
 ...        ...        ...        ...      ...        ...  ...     ...      ...        ...  ...  ...
 1555         0          0          0        0          0  ...       0        0          0   65   20
 1556         0          0          0        0          0  ...       0        0          0   65   21
 1557         0          0          0        0          0  ...       0        0          0   65   22
 1558         0          0          0        0          0  ...       0        0          0   65   23
 1559         0          0          0        0          0  ...       0        0          0   65   24

 [1560 rows x 20 columns],
       is_empty  is_string  is_merged  is_bold  is_italic  ...  indent  formula  is_header  row  col
 1560         1          1          0        1          0  ...       0        0          0    1    1
 1561         1          1          0        1          0  ...       0        0          0    1    2
 1562         0          0          0        1          0  ...       0        0          0    1    3
 1563         0          0          0        1          0  ...       0        0          0    1    4
 1564         0          0          0        1          0  ...       0        0          0    1    5
 ...        ...        ...        ...      ...        ...  ...     ...      ...        ...  ...  ...
 1939         0          0          0        0          0  ...       0        0          0   16   20
 1940         0          0          0        0          0  ...       0        0          0   16   21
 1941         0          0          0        0          0  ...       0        0          0   16   22
 1942         0          0          0        0          0  ...       0        0          0   16   23
 1943         0          0          0        0          0  ...       0        0          0   16   24

 [384 rows x 20 columns],
       is_empty  is_string  is_merged  is_bold  is_italic  ...  indent  formula  is_header  row  col
 1944         0          0          0        0          0  ...       0        0          0    1    1
 1945         0          0          0        0          0  ...       0        0          0    1    2
 1946         0          0          0        0          0  ...       0        0          0    1    3
 1947         0          0          0        0          0  ...       0        0          0    1    4
 1948         0          0          0        0          0  ...       0        0          0    1    5
 ...        ...        ...        ...      ...        ...  ...     ...      ...        ...  ...  ...
 2803         0          0          0        0          0  ...       0        0          0   36   20
 2804         0          0          0        0          0  ...       0        0          0   36   21
 2805         0          0          0        0          0  ...       0        0          0   36   22
 2806         0          0          0        0          0  ...       0        0          0   36   23
 2807         0          0          0        0          0  ...       0        0          0   36   24

 [864 rows x 20 columns],
       is_empty  is_string  is_merged  is_bold  is_italic  ...  indent  formula  is_header  row  col
 2808         0          0          0        0          0  ...       0        0          0    1    1
 2809         0          0          0        0          0  ...       0        0          0    1    2
 2810         0          0          0        0          0  ...       0        0          0    1    3
 2811         0          0          0        0          0  ...       0        0          0    1    4
 2812         0          0          0        0          0  ...       0        0          0    1    5
 ...        ...        ...        ...      ...        ...  ...     ...      ...        ...  ...  ...
 2958         0          0          0        0          0  ...       0        0          0   31    1
 2959         1          0          0        0          0  ...       0        0          0   31    2
 2960         1          1          0        0          0  ...       0        0          0   31    3
 2961         1          1          0        0          0  ...       0        0          0   31    4
 2962         0          0          0        0          0  ...       0        0          0   31    5

 [155 rows x 20 columns],
       is_empty  is_string  is_merged  is_bold  is_italic  ...  indent  formula  is_header  row  col
 2963         0          0          0        0          0  ...       0        0          0    1    1
 2964         0          0          0        0          0  ...       0        0          0    1    2
 2965         0          0          0        0          0  ...       0        0          0    1    3
 2966         1          1          0        1          0  ...       0        0          0    1    4
 2967         0          0          0        0          0  ...       0        0          0    1    5
 ...        ...        ...        ...      ...        ...  ...     ...      ...        ...  ...  ...
 7598         0          0          0        0          0  ...       0        0          0  145   28
 7599         0          0          0        0          0  ...       0        0          0  145   29
 7600         0          0          0        0          0  ...       0        0          0  145   30
 7601         0          0          0        0          0  ...       0        0          0  145   31
 7602         0          0          0        0          0  ...       0        0          0  145   32

 [4640 rows x 20 columns],
       is_empty  is_string  is_merged  is_bold  is_italic  ...  indent  formula  is_header  row  col
 7603         0          0          0        0          0  ...       0        0          0    1    1
 7604         0          0          0        0          0  ...       0        0          0    1    2
 7605         0          0          0        0          0  ...       0        0          0    1    3
 7606         1          1          0        1          0  ...       0        0          0    1    4
 7607         0          0          0        0          0  ...       0        0          0    1    5
 ...        ...        ...        ...      ...        ...  ...     ...      ...        ...  ...  ...
 9232         0          0          0        0          0  ...       0        0          0   86   15
 9233         0          0          0        0          0  ...       0        0          0   86   16
 9234         0          0          0        0          0  ...       0        0          0   86   17
 9235         0          0          0        0          0  ...       0        0          0   86   18
 9236         0          0          0        0          0  ...       0        0          0   86   19

 [1634 rows x 20 columns],
        is_empty  is_string  is_merged  is_bold  is_italic  ...  indent  formula  is_header  row  col
 9237          0          0          0        0          0  ...       0        0          0    1    1
 9238          0          0          0        0          0  ...       0        0          0    1    2
 9239          0          0          0        0          0  ...       0        0          0    1    3
 9240          1          1          0        1          0  ...       0        0          0    1    4
 9241          0          0          0        0          0  ...       0        0          0    1    5
 ...         ...        ...        ...      ...        ...  ...     ...      ...        ...  ...  ...
 11782         0          0          0        0          0  ...       0        0          0  102   21
 11783         0          0          0        0          0  ...       0        0          0  102   22
 11784         0          0          0        0          0  ...       0        0          0  102   23
 11785         0          0          0        0          0  ...       0        0          0  102   24
 11786         0          0          0        0          0  ...       0        0          0  102   25

 [2550 rows x 20 columns]]

In [28]:
h = 100
w = 100
c = len(train_df.columns) - 4
# tensor: 100x100x114
all_coordinates = pd.DataFrame([(i, j) for i in range(1, h + 1) for j in range(1, w + 1)], columns=["row", "col"])

normalized_table_pics = [all_coordinates.merge(el, on=["row", "col"], how="left").fillna(0) for el in table_pics]
for el in normalized_table_pics:
    el["features"] = el[el.columns.difference(["row", "col", "features", "is_header"])].apply(tuple, axis=1)
    el.drop(columns=el.columns.difference(["row", "col", "features", "is_header"]), inplace=True)

normalized_table_pics

[      row  col  is_header                                           features
 0       1    1        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 1       1    2        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 2       1    3        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 3       1    4        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 4       1    5        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 ...   ...  ...        ...                                                ...
 9995  100   96        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9996  100   97        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9997  100   98        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9998  100   99        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9999  100  100        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

 [10000 rows x 4 columns],
       row  col  is_header                                           features
 0       1    1        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...
 1       1    2        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...
 2       1    3        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...
 3       1    4        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...
 4       1    5        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...
 ...   ...  ...        ...                                                ...
 9995  100   96        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9996  100   97        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9997  100   98        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9998  100   99        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9999  100  100        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

 [10000 rows x 4 columns],
       row  col  is_header                                           features
 0       1    1        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 1       1    2        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 2       1    3        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 3       1    4        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 4       1    5        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 ...   ...  ...        ...                                                ...
 9995  100   96        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9996  100   97        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9997  100   98        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9998  100   99        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9999  100  100        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

 [10000 rows x 4 columns],
       row  col  is_header                                           features
 0       1    1        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 1       1    2        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 2       1    3        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 3       1    4        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 4       1    5        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 ...   ...  ...        ...                                                ...
 9995  100   96        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9996  100   97        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9997  100   98        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9998  100   99        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9999  100  100        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

 [10000 rows x 4 columns],
       row  col  is_header                                           features
 0       1    1        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 1       1    2        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 2       1    3        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 3       1    4        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, ...
 4       1    5        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 ...   ...  ...        ...                                                ...
 9995  100   96        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9996  100   97        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9997  100   98        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9998  100   99        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9999  100  100        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

 [10000 rows x 4 columns],
       row  col  is_header                                           features
 0       1    1        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 1       1    2        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 2       1    3        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 3       1    4        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, ...
 4       1    5        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 ...   ...  ...        ...                                                ...
 9995  100   96        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9996  100   97        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9997  100   98        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9998  100   99        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9999  100  100        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

 [10000 rows x 4 columns],
       row  col  is_header                                           features
 0       1    1        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 1       1    2        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 2       1    3        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 3       1    4        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, ...
 4       1    5        0.0  (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 ...   ...  ...        ...                                                ...
 9995  100   96        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9996  100   97        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9997  100   98        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9998  100   99        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 9999  100  100        0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

 [10000 rows x 4 columns]]

In [49]:
def df_to_tensor(input_df):
    value_column = input_df.columns.difference(["row", "col"])[0]
    
    def get_df_list(cur_df, column_name):
        return [w.drop(columns=column_name).copy() for v, w in cur_df.sort_values([column_name]).groupby(column_name)]

    fa = get_df_list(test_df, "row")

    sa = [list(map(lambda x: list(x[value_column].iloc[0]), get_df_list(el, "col"))) for el in fa]

    return sa

In [ ]:
x_dataset = [el.drop(columns="is_header") for el in normalized_table_pics]
x_tensors = [df_to_tensor(el) for el in x_dataset]
x_tensors

In [ ]:
y_dataset = [el.drop(columns="features") for el in normalized_table_pics]
y_tensors = [df_to_tensor(el) for el in y_dataset]
y_tensors